# Compilados / build
target/
*.class
*.war
*.jar

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# IDEs
.idea/
*.iml
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Variables de entorno / credenciales locales (si algún día las usas)
.env
